
/* ELEMENTS SECTION */
body {
  font-family: Arial, sans-serif;
  font-size: 120%;
  color: aliceblue;
}

h2 {
  font-size: 150%;
}

h3 {
  font-size: 125%;
}


header {
  background-color: #0c2e4f;
  color: honeydew;
  font-family: 'Trebuchet MS';
}

#headshot {
  width: 80px;
  border: 1px inset peru;
}
#HeaderImage {
  padding-bottom: 20px;
}

footer {
  background-color: gainsboro;
  text-align: center;
  color: aliceblue;
}

/* ID SECTION */
#carousel-text {
  color: white;
}

#BodyPic {
  width: 100%;
  height: 100%;
}

#education {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 20px;
}
#experience {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 20px;
}
#skills {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 20px;
}
#interests {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 20px;
}
#contact {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 20px;
}

#Headshot {
  width: 170px;
  height: 170px;
  padding: 2px;
  border: 10px inset peru;
  border-radius: 50%;
  margin: 5px;
  object-fit: cover;
}

#header {
  padding: 20px;
  position: static;
  display: flex;
}

#Profile {
  font-size: 105%;
  width: auto;
  color: pink;
  padding-left: 100px;
}

#Name {
  font-size: 150%;
  color: aliceblue;
}

#HeaderText {
  padding-top: 30px;
  text-align: left;
  width: 100%;
  text-align: justify;
}

/*Grid Display CSS*/
.Qualifications-Section {
  grid-area: education;
}
.Experience-Section {
  grid-area: experience;
}
.Skills-Section {
  grid-area: skills;
}
.Interests-Section {
  grid-area: interests;
}
.grid-container {
  display: grid;
  grid-template-areas: 
    "education education"
    "experience experience"
    "skills interests";
  grid-template-columns: 1fr 3fr;
}

/*Profile Grid Container*/
.Profile {
  grid-area: profile;
}

.DescriptionOfMe {
  grid-area: DescriptionOfMe;
  padding-right: 100px;
}
.Profile-grid {
  display: grid;
  grid-template-areas: 
    "profile DescriptionOfMe";
  grid-template-columns: 1fr 2fr;
  padding-top: 3rem;
  padding-bottom: 3rem;
  grid-gap: 30px;
}

/*Education Grid Container*/
.Codespace-qualification {
  grid-area: CodespaceQualification;
}
.Animation-qualification {
  grid-area: AnimationQualification;
}
.Education-container {
  display: grid;
  grid-template-areas: 
    "CodespaceQualification AnimationQualification";
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

/*Experience Grid Container*/
.OLSPS-DataCapturer {
  grid-area: DataCapturer;
}
.ClickFoundation-Facilitator {
  grid-area: Facilitator;
}
.Experience-container {
  display: grid;
  grid-template-areas: 
    "DataCapturer Facilitator";
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

/* CLASS SECTION */
.bg {
  background: url("../images/Background_Pic.jpg");
  background-position: center;
  background-size: cover;
}

.nav-link {
  margin-right: 20px;
}

/*Carousel Code*/
.carousel-item img{
  height: 250px;
  width: auto;
  margin: auto;
}
.carousel-inner {
  width: auto;
  height: 350px;
  display: flex;
  place-items: center;
}

.main {
  display: flex;
  opacity: 80%;
  padding-bottom: 5px;
}

.Qualifications-Section {
  background-color: aliceblue;
  color: black;
  padding: 10px;
  border-top: 2px outset lightslategrey;
  border-bottom: 2px outset lightslategrey;
  font-family: sans-serif;
  position: static;
}

.Experience-Section {
  background-color: aliceblue;
  color:black;
  padding: 10px;
  border-top: 2px outset lightslategrey;
  border-bottom: 2px outset lightslategrey;
  font-family: sans-serif;
  position: static;
}

.Skills-Section {
  background-color: aliceblue;
  color: black;
  padding: 10px;
  border-top: 2px outset lightslategrey;
  border-bottom: 2px outset lightslategrey;
  border-right: 2px outset lightslategrey;
  font-family: sans-serif;
  position: static;
}

.Interests-Section {
  background-color: aliceblue;
  color: black;
  padding: 10px;
  border-top: 2px outset lightslategrey;
  border-bottom: 2px outset lightslategrey;
  border-left: 2px outset lightslategrey;
  font-family: sans-serif;
  position: static;
}

.Icons {
  margin: 5px;
}

.footer {
  background-color: #0c2e4f;
  padding: 10px;
  position: static;
}

/*Form labels*/
#name {
  width: 242px;
}
#email {
  width: 242px;
}
#subject {
  width: 500px;
}
#msg {
  width: 500px;
}

/*Get In Touch Form*/
.ContactMe {
  background-color: lavender;
  width: auto;
  height: 30rem;
  opacity: 80%;
}
.FormHeading {
  text-align: center;
  color: black;
  padding: 1.3rem;
}
.col-12 {
  display: table-row;
  grid-area: button;
  text-align: center;
}
.name {
  grid-area: name;
  text-align: right;
}
.email {
  grid-area: email;
  text-align: left;
}
.subject {
  grid-area: subject;
  text-align: center;
}
.message {
  grid-area: message;
  text-align: center;
}
input, textarea {
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
}
.button {
  border-radius: 10px;
  background-color: #0f6ac5;
  opacity: 100% !important;
  border: 1px solid black;
}
.Contact-container {
  display: grid;
  grid-template-areas: 
  "name email"
  "subject subject"
  "message message"
  "button button";
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

/*Icons in Footer*/
#InstagramIcon {
  width: 54px;
  height: 54px;
}
#LinkedInIcon {
  width: 48px;
  height: 48px;
}
#GmailIcon {
  width: 43px;
  height: 45px;
}

/*Extra small devices (Galaxy Fold, 300px and down)*/
@media screen and (max-width: 300px) {
  #name {
    width: 150px;
  }
  #email {
    width: 150px;
  }
  #subject {
    width: 150px;
  }
  #msg {
    width: 150px;
  }
}

/* Small devices (portrait laptops and large phones, 578px and down)*/
@media screen and (max-width: 578px) {
  .Profile-grid {
    grid-template-columns: auto;
    grid-template-areas: 
    "Profile"
    "DescriptionOfMe";
    padding-bottom: 0px;
  }
  .DescriptionOfMe {
    padding-right: 10px;
    padding-left: 10px;
  }
  #Name {
    text-align: center;
  }
  #FacilitatorHeading {
    text-align: center;
  }
  
  .grid-container {
    grid-template-columns: auto;
   grid-template-areas: 
   "education"
   "experience"
   "skills"
   "interests";
  }
  .Education-container {
    grid-template-columns: auto;
    grid-template-areas: 
    "CodespaceQualification"
    "AnimationQualification";
  }
  .Experience-container {
    grid-template-columns: auto;
    grid-template-areas: 
    "DataCapturer"
    "Facilitator";
  }
  
  .Contact-container {
    grid-template-areas: 
    "name" 
    "email"
    "subject"
    "message"
    "button";
    grid-template-columns: auto;
  }

  .Skills-Section {
    border-right: 0px;
  }

  .Interests-Section {
    border-left: 0px;
    margin-left: 0px;
  }

  h1 {
    font: 22px;
  }
  #Name, #Menu, h2, h4 {
    font-size: 18px;
  }
  h3 {
    font-size: 15px;
  }
  p {
    font-size: 12px;
  }
  ul li {
    font-size: 12px;
  }
  #Profile {
    padding: 0%;
  }
  #Headshot {
    height: 100px;
    width: 100px;
    border: 5px inset peru;
  }
  #HeaderImage {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
  }
  #HeaderText {
    text-align: justify;
    padding-top: 0%;
  }

  #name {
    width: 300px;
  }
  .name {
    text-align: center;
  }
  #email {
    width: 300px;
  }
  .email {
    text-align: center;
  }
  #subject {
    width: 300px;
  }
  #msg {
    width: 300px;
  }
}

/* Medium devices (landscape tablets, 768px and down)*/
@media screen and (min-width: 578px) and (max-width: 768px) {
  .Profile-grid {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "Profile"
    "DescriptionOfMe";
    padding-bottom: 0px;
  }
  .DescriptionOfMe {
    padding-right: 15px;
    padding-left: 15px;
  }
  #Name {
    text-align: center;
  }
  #FacilitatorHeading {
    text-align: center;
  }

  .grid-container {
    grid-template-columns: auto;
    grid-template-areas: 
      "education"
      "experience"
      "skills"
      "interests";
  }

  .Contact-container {
    grid-template-areas: 
    "name" 
    "email"
    "subject"
    "message"
    "button";
    grid-template-columns: auto;
  }

  .Education-container {
    grid-template-columns: auto;
    grid-template-areas: 
    "CodespaceQualification"
    "AnimationQualification";
  }
  .Experience-container {
    grid-template-columns: auto;
    grid-template-areas: 
      "DataCapturer"
      "Facilitator";
  }

  .Skills-Section {
    border-right: 0px;
  }

  .Interests-Section {
    border-left: 0px;
    margin-left: 0px;
  }

  h1 {
    font: 26px;
  }
  #Name, #Menu, h2, h4 {
    font-size: 22px;
  }
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 16px;
  }
  ul li {
    font-size: 16px;
  }
  #Profile {
    padding: 2%;
  }
  #Headshot {
    height: 150px;
    width: 150px;
    border: 7px inset peru;
  }
  #HeaderImage {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
  }
  #HeaderText {
    text-align: justify;
    padding-top: 5%;
  }
  #name {
    width: 350px;
  }
  .name {
    text-align: center;
  }
  #email {
    width: 350px;
  }
  .email {
    text-align: center;
  }
  #subject {
    width: 350px;
  }
  #msg {
    width: 350px;
  }
}

/* Large devices (laptops/desktops, 992px and down)*/
@media screen and (min-width: 768px) and (max-width: 992px) {
  .grid-container {
    display: grid;
    grid-template-areas: 
      "education education"
      "experience experience"
      "skills interests";
    grid-template-columns: 1fr 2fr;
  }

  h1 {
    font: 28px;
  }
  #Name, #Menu, h2, h4 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 18px;
  }
  ul li {
    font-size: 18px;
  }
  #Profile {
    padding: 4%;
  }
  #Headshot {
    height: 135px;
    width: 135px;
    border: 8.5px inset peru;
  }
  #HeaderText {
    padding-top: 5%;
  }
}

/*Animation Code*/
@keyframes AnimationLogo {
  0% {transform: translateY(0);}
  25% {filter: grayscale(100%); transform: translateY(-10px)}
  50% {filter: grayscale(100%);}
  100% {transform: translateY(0);}
}

.AnimationLogo:hover {
  animation-name: AnimationLogo;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}

.button:hover {
  background-color: #0c2e4f;
  color: antiquewhite;
  opacity: 50%;
}
.button:active {
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}
.button {
  box-shadow: 0 6px #999;
}